{% extends 'base.html' %}

{% block content %}


    <h2>My Profile</h2>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>{{ user_object.pk }}</td>
            <td>{{ user_object.first_name }}</td>
            <td>{{ user_object.last_name }}</td>
            <td>{{ user_object.email }}</td>
        </tr>
        </tbody>
    </table>


    <h2>Advertisements</h2>



    <table class="table">
     <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Image</th>
            <th scope="col">Category</th>
            <th scope="col">Author</th>
            <th scope="col">Price</th>
            <th scope="col">Date Created</th>

        </tr>
        </thead>
        <tbody>
        {% for ad in advertisements %}
            <tr>
            <th scope="row">{{ ad.pk }}</th>

            {% if ad.image %}
                <td><img class="image" src="{{ ad.image.url }}" height="100" width="100" alt="ad image">
                </td>
            {% else %}
                <td><img class="image" height="100" width="100"
                         src="https://pbs.twimg.com/profile_images/496102814880239616/IDgM95XQ_400x400.png"
                         alt="Block Image"></td>

            {% endif %}


            <td>{{ ad.category }}</td>
            <td>{{ ad.author }}</td>
            <td>{{ ad.price }}</td>
            <td>{{ ad.date_created }}</td>
            <td><a class="btn btn-primary btn-sm ps-3 pe-3"
                   href="{% url "webapp:advertisement_operator_detail" ad.pk %}">Detail</a></td>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}